.navbar {
    background-color: rgb(207, 141, 191);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
    margin-right: auto;
    /* Guranje branda na lijevu stranu */
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    /* Svjetla pozadina za glavni sadržaj */
    border-radius: 5px;
    /* Zaobljeni rubovi */
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Blagi sjaj za izdvajanje sadržaja */
}